//< " ФАЙЛ СТИЛЕЙ КАЛЬКУЛЯТОРА ТОВАРОВ " >=============================================================================================================>//

.counter {
	display: flex;
	align-items: center;

	// .counter__btn

	&__btn {
		@include adaptiv-value("width", 30, 25, 1);
		@include adaptiv-value("height", 30, 25, 1);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $colorDark;

		@extend %unselectable;

		text-align: center;
		white-space: nowrap;
		@include adaptiv-value("font-size", 26, 20, 1);
		color: $colorWhite;

		@media (any-hover: hover) {
			transition: background-color .2s ease .0s;

			&:hover {
				background-color: rgb(48, 48, 48);
			}
		}

		// .counter__btn_plus

		&_plus {}

		// .counter__btn_minus

		&_minus {}

		// .counter__btn_disabled

		&_disabled {
			opacity: 0.7;
			pointer-events: none;
		}
	}

	// .counter__input

	&__input {
		@include adaptiv-value("width", 30, 25, 1);
		@include adaptiv-value("height", 30, 25, 1);

		text-align: center;
	}
}