:root {
  /* Colors */
  --white: #fff;
  --dark: #000;

  /* Typography */
  --font-arial: arial, 'Helvetica Neue', helvetica, sans-serif;

  /* Layout */
  --max-width-container: 1200px;
  --container-padding: 15px;
}
