.events{
  @include adaptiv-value(margin-bottom, 150, 20, 1);

  &__body{
    display: flex;
    @include adaptiv-value(column-gap, 44, 20, 1);
    align-items: center;
  }
  &__left, &__right{
    display: flex;
    flex-direction: column;align-items: center;
  }
  &__middle{
    max-width: 416px;
    width: 100%;
    img{
      @media (max-width: #{$maxWidthContainer + px}){
        width: 100%;
      }
    }
  }
  &__header{
    @include adaptiv-value(margin-bottom, 35, 15, 1)
  }
  &__text{
    color: #fff;
    text-align: center;
    @include adaptiv-font(14, 10);
    font-weight: 400;
    @include adaptiv-line-height(21, 15);
    @include adaptiv-value(margin-bottom, 35, 15, 1);
  }

  &__button{
    color: #fff;
    text-align: center;
    @include adaptiv-font(14, 10);
    @include adaptiv-line-height(21, 15);
    letter-spacing: 0.7px;
    text-transform: uppercase;
    @include adaptiv-padding(15, 10, 30, 12, 1);
    border-radius: 5px;
    border: 2px solid #D5621D;
    background: transparent;
    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      background: #D5621D;
    }
    }
  }

  @media (max-width: 992px){
    &__body{
      flex-direction: column;
      row-gap: 20px;
    }
    &__left, &__right{
      width: 100%;
      max-width: 500px;
    }
  }
}