//< " ФАЙЛ СТИЛЕЙ ФУТЕРА " >=============================================================================================================>//

.footer{
  &__header{
    @include adaptiv-value(margin-bottom, 80, 30, 1);
  }

  &__main{
    display: flex;
    justify-content: space-between;
    @include adaptiv-value(column-gap, 24, 15, 1);
    @include adaptiv-value(margin-bottom, 100, 20, 1);
  }
  &__left{
    border-radius: 5px;
    border: 2px solid #D5621D;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background: rgba(213, 98, 29, 0.10);
    @include adaptiv-value(padding, 50, 20, 1);
    width: 100%;
    max-width: 416px;

    &-top, &-bottom{
      display:flex;
      flex-direction:column;
      @include adaptiv-value(row-gap, 35, 10, 1);
    }
    &-top{
      @include adaptiv-value(padding-bottom, 45, 15, 1);
    }
    &-bottom{
      @include adaptiv-value(padding-top, 45, 15, 1);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  &__title{
    color: #fff;
    font-family: $fontGotham;
    @include adaptiv-font(18, 14);
    font-weight: 700;
    @include adaptiv-line-height(27, 20);
    letter-spacing: 0.9px;
    text-transform: uppercase;
    @include adaptiv-value(margin-bottom, 20, 10, 1);
  }
  &__text{
    color: #fff;
    @include adaptiv-font(14, 12);
    font-weight: 400;
    @include adaptiv-line-height(21, 15);
  }

  &__right{
    width: 100%;
    max-width: 856px;
  }

  &__map{
    width: 100%;
    height: 100%;
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    @include adaptiv-padding(30, 20, 0, 0,1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    @include adaptiv-font(14, 12);
    font-weight: 400;
    @include adaptiv-line-height(21, 15);
    color: rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 900px){
    &__main{
      flex-direction:column;
      row-gap: 20px;
    }

    &__left{
      max-width: 100%;
    }
    &__right{
      max-width: 100%;
    }

    &__map{
      @include adaptiv-value-width(height, 656, 300, 900, 1);
    }
  }
  @media (max-width: 460px){
    &__bottom{
      flex-direction: column;
      row-gap: 10px ;
    }
  }
}