.kitchen{
  @include adaptiv-value(margin-bottom, 150, 20, 1);
  &__body{
    display:flex;
    flex-direction:column;
  }
  &__main{
    display:flex;
    align-items: center;
    @include adaptiv-value(margin-top, 80, 30, 1);
  }
  &__dishs{
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    @include adaptiv-value(column-gap, 104, 10, 1);
    @include adaptiv-value(row-gap, 56, 10, 1);
    @media (max-width: 1000px){
      grid-template-columns: 1fr;
    }
  }
  &__dish{
    display: flex;
    justify-content: space-between;
    @include adaptiv-value(column-gap, 25, 10, 1);

    &-right{
      width: 100%;
    }
    &-head{
      display: flex;
      justify-content: space-between;
    }
    &-title{
      color: #fff;
      font-family: $fontGotham;
      @include adaptiv-font(18, 14);
      font-weight: 700;
      @include adaptiv-line-height(27, 20);
      letter-spacing: 0.9px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    &-price{
      color: #fff;
      font-family: $fontGotham;
      @include adaptiv-font(14, 12);
      font-weight: 700;
      @include adaptiv-line-height(21, 15);
      letter-spacing: 0.7px;
      text-transform: uppercase;
      @include adaptiv-padding(8.5, 5, 20, 10, 1);
      border: 2px solid #D5621D;
      border-radius: 5px;
    }
    &-weight{
      @include adaptiv-font(14, 12);
      font-weight: 400;
      @include adaptiv-line-height(21, 15);
      color: #D5621D;
      margin-bottom: 10px;
    }
    &-description{
      @include adaptiv-font(14, 12);
      font-style: normal;
      font-weight: 400;
      @include adaptiv-line-height(21, 15);
      color: #fff;
    }
  }
  &__button{
    font-family: $fontGotham;
    @include adaptiv-font(18, 14);
    font-weight: 700;
    @include adaptiv-line-height(27, 20);
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #fff;
    @include adaptiv-padding(15, 10, 30, 12, 1);
    background: #D5621D;
    border: 2px solid #D5621D;
    border-radius: 5px;
    align-self: center;
    @include adaptiv-value(margin-top, 96, 20, 1);

    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      background: transparent;
    }
    }
  }
  &__next,
  &__prev{
    @include adaptiv-font(20, 16);
    color: #fff;
    border-radius: 5px;
    background: #D5621D;
    border: 2px solid #D5621D;
    @include adaptiv-value(width, 50, 30, 1);
    @include adaptiv-value(height, 50, 30, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;

    &::before{
      transition: all 0.3s ease 0s;
    }

      @media (any-hover:hover){
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
          background: transparent;
          &::before{
            color: #D5621D;
          }
        }
      }

  }
  &__next{
    @include adaptiv-value(margin-left, 60, 10, 1);
  }
  &__prev{
    @include adaptiv-value(margin-right, 60, 10, 1);

  }

  @media (max-width: 540px){
    &__next, &__prev{
      display: none;
    }
  }
}