.poster{
  @include adaptiv-value(margin-bottom, 150, 20, 1);
  
  &__header{
    @include adaptiv-value(margin-bottom, 80, 20, 1);
  }

  &__grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-flow: dense;
    @include adaptiv-value(gap, 24, 10, 1);
    justify-content: center;

    @media (max-width: 1300px){
      grid-template-columns: repeat(4, minmax(200px, 300px));
    }
    @media (max-width: 1000px){
      grid-template-columns: repeat(3, minmax(200px, 300px));
    }
    @media (max-width: 660px){
      grid-template-columns: repeat(2, minmax(200px, 300px));
    }
    @media (max-width: 440px){
      grid-template-columns: repeat(1, minmax(200px, 300px));
    }
  }
  &__card{
    position: relative;
    display: inline-block;
    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      .poster__text{
        z-index: 2;
        opacity: 1;
      }
    }
    }

    &._active{
      .poster__text{
        z-index: 2;
        opacity: 1;
      }
    }
  }
  &__img{
    img{
      width: 100%;  
      object-fit: cover;
    }
  }
  &__text{
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    @include adaptiv-value(padding, 35, 10, 1);
    background: rgba(33, 14, 9, 0.8);
    z-index: 2;
    opacity: 0;
    z-index: -1;
  }
  &__date{
    @include adaptiv-padding(8, 4, 15, 8, 1);
    border-radius: 5px;
    background:#D5621D;
    color: #FFF;
    font-family: $fontGotham;
    @include adaptiv-font(14, 12);
    font-weight: 700;
    @include adaptiv-line-height(21, 15);
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
  &__title{
    color:#fff;
    font-family:$fontGotham;
    @include adaptiv-font(18, 14);
    font-weight: 700;
    @include adaptiv-line-height(27, 20);
    letter-spacing: 0.9px;
    text-transform: uppercase;
    @include adaptiv-margin(15, 8, 0, 0, 1);
  }
  &__price{
    color: #fff;
    text-align: center;
    font-family: $fontGotham;
    @include adaptiv-font(14, 12);
    font-weight: 700;
    @include adaptiv-line-height(21, 15);
    letter-spacing: 0.7px;
    text-transform: uppercase;
    @include adaptiv-padding(8.5, 5, 20, 10, 1);
    border-radius: 5px;
    border: 2px solid #D5621D;
  }
}