//< " CONNECTING THE FILE WITH ICONS " >=====================================================================================================>//
// @import "./modules/_iconfonts";

//< " MIXINS " >=============================================================================================================>//
@import './modules/_mixins';

//< " SITE " >=============================================================================================================>//

html {
  @include scrollbar(8px, #999, #fff, 10px);
}

body {
  background-color: var(--white);
  font-family: var(--font-arial);
  color: var(--color-dark);
  font-size: 14px;

  // ._lock-scroll
  &._lock-scroll {
    overflow: hidden;
  }
}

//< " Wrapper " >=============================================================================================================>//
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 100px;
  padding-left: 200px;
}

//< " GRID " >=============================================================================================================>//

// .content
.content {
  flex: 1 1 auto;
}

// ._container
._container {
  padding: 0px var(--container-padding);
  margin: 0px auto;
  max-width: var(--max-width-container);
}

//< " FILES COMPONENTS " >=============================================================================================================>//
@import './components/_header';
@import './components/_footer';
// @import "./components/_preloader";

//< " MAIN BLOCK " >=============================================================================================================>//
.page {
  flex: 1 1 auto;
}
